* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}
header {
    background-image: url('../img/header/background.jpg');
    background-size: cover;
    padding-bottom: 2vh;
    width: 100%;
    position: relative;
}
header #flowers-left {
  position: absolute;
  bottom: 0;
  left: 0;
  max-width: 25%;
}
header #flowers-right {
  position: absolute;
  bottom: 0;
  right: 0;
  max-width: 25%;
}

header #welcome {
 text-align: center;
 padding: 10px 0;
 margin: 0 auto;
}

header #welcome h1{
    font-family: 'Caveat', 'cursive';
    font-weight: 400;
    font-size: 6rem;
}
header #welcome p {
    font-weight: 500;
    font-size: 1.5rem;
}

header #welcome span {
    display: block;
    background-color: #29243E;
    border-radius: 2.8rem;
    padding: 0.7rem 2.7rem;
    margin: 0 auto;
    max-width: 170px;
    color: #fdfdfd;
    font-size: 1.4rem;
    transition: all 0.2s ease-in-out;
}
header #welcome span:hover {
  color: #29243E;
  background-color: #fdfdfd;
  cursor: pointer;
}

.container .featuredGifts {
  margin-top: 30px;
}
.container .featuredGifts img {
  max-width: 100%;
  border-radius: 14px 14px 0 0;
  border: solid lightgrey 1px;
}
.container .featuredGifts .giftLabel {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: none;
  border: solid lightgrey 1px;
}
.container .featuredGifts .giftLabel p{
  text-align: center;
  padding: 7px 0;
  margin: 0;
}
#whyUs {
  text-align: center;
  padding: 10px 0;
  margin: 30px auto;
}
#whyUs h3 {
    font-family: 'Quicksand', 'sans serif';
    font-size: 3rem;
    font-weight: 400;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 20px;
}
#whyUs .container {
    padding-left: 30px;
    padding-right: 30px;
}
#whyUs .container img {
  max-width: 90%;
}

#whyUs #secondRowOfIcons {
    padding-top: 30px;
    display: none;
}

#whyUs span {
  display: block;
    background-color: #29243E;
    border-radius: 2.8rem;
    padding: 0.7rem 2.7rem;
    max-width: 170px;
    margin: 15px auto 0 auto;
    color: #fdfdfd;
    font-size: 1.4rem;
    cursor: pointer;
    text-align: center;
}
