* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}

/* Header styling */

header {
    background-image: url('../img/header/background.jpg');
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 21px;
    position: relative;
}
header #flowers-left {
    position: absolute;
    bottom: 0;
    left: 0;
    max-width: 35%;
}
header #flowers-right {
    position: absolute;
    bottom: 0;
    right: 0;
    max-width: 35%;
}

header #welcome {
   text-align: center;
   padding: 10px 0;
   margin: 0 auto;
}

header #welcome h1{
    font-family: 'Caveat', 'cursive';
    font-weight: 400;
    font-size: 6rem;
}
header #welcome p {
    font-weight: 500;
    font-size: 1.5rem;
}

header #welcome span {
    display: block;
    background-color: #29243E;
    border-radius: 2.8rem;
    padding: 0.7rem 2.7rem;
    margin: 0 auto;
    max-width: 170px;
    color: #fdfdfd;
    font-size: 1.4rem;
    transition: all 0.2s ease-in-out;
}
header #welcome span:hover {
    color: #29243E;
    background-color: #fdfdfd;
    cursor: pointer;
}

/* Gifts section styling */

.container .featuredGifts {
  margin-top: 30px;
}
.container .featuredGifts:hover img {
  cursor: pointer;
  opacity: 0.6;
}
.container .featuredGifts img {
  width: 100%;
  transition: 0.4s ease-in-out;
  border-radius: 14px 14px 0 0;
  border: solid lightgrey 1px;
}
.container .featuredGifts .giftLabel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top: none;
  cursor: pointer;
  min-height: 60px;
  border: solid lightgrey 1px;
}
.container .featuredGifts .giftLabel p{
  font-size: 1.4rem;
  text-align: center;
  margin: 0;
}
.container .featuredGifts .giftLabel span{
  font-size: 1.2rem;
  font-weight: 500;
  color: green;
}

/* Wny shop with us styling */

#whyUs {
  text-align: center;
  padding: 10px 0;
  margin: 30px auto;
}
#whyUs h3 {
    font-family: 'Quicksand', 'sans serif';
    font-size: 3rem;
    font-weight: 400;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 20px;
}
#whyUs .container {
    padding-left: 30px;
    padding-right: 30px;
}
#whyUs .container img {
  max-width: 90%;
}

#whyUs #secondRowOfIcons {
    padding-top: 30px;
    display: none;
}

#whyUs span {
  display: block;
    background-color: #29243E;
    border-radius: 2.8rem;
    padding: 0.7rem 2.7rem;
    max-width: 170px;
    margin: 15px auto 0 auto;
    color: #fdfdfd;
    font-size: 1.4rem;
    cursor: pointer;
    text-align: center;
}
